@model IEnumerable<StudentManagement.Models.Course>

@{
	ViewData["Title"] = "Course";
}

<h1>Course</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.courseId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.courseTitle)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.credit)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.department)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.courseId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.courseTitle)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.credit)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.department.departName)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.courseId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.courseId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.courseId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
